@model monozd.Models.VehicleMake
@{
    ViewData["Title"] = "CreateVehicleMake";

    List<VehicleMake> manufacturers  = TempData["manufacturers"] as List<VehicleMake>;
}

    <div class="container">
    <form action="/vehiclemake/createvehiclemake" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="Name" placeholder="Enter Manufacturer name " asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Abrv</label> 
            <input type="Abrv" placeholder="Enter Manufacturer abrivation " asp-for="Abrv">
            <span asp-validation-for="Abrv" class="text-danger"></span>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>

    <div class="container">

        @if(manufacturers != null && manufacturers.Count >= 1)
        {

        
        <form from action="/VehicleMake/SearchManufacturer" method="post">
            <div class="form-group">
                <label>Search</label>
                <input type="text" name="searchTerm"/>
            </div> 
            <button type="submit" class="btn btn-primary">Search</button>
        </form>   
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Abrv</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var vehicles in manufacturers)
      {
        <tr>
      <td>@vehicles.Id</td>
      <td>@vehicles.Name</td>
      <td>@vehicles.Abrv</td>
      <td>
          <form asp-action="UpdateManufacturer" asp-controller="VehicleMake" method="post">
              <input type="hidden" asp-for="Id" value="@vehicles.Id" />
              <button type="submit"  class="btn btn-success">Update</button>
          </form>
          <form asp-action="DeletePost" asp-controller="VehicleMake" method="post">
              <input type="hidden" asp-for="Id" value="@vehicles.Id" />
              <button type="Delete" class="btn btn-danger">Delete</button>
          </form>
      </td>
    </tr>
      }
    
  </tbody>
</table>
        }
    </div>
    