@model monozd.Models.VehicleMake
@{
    ViewData["Title"] = "DeleteManufacturer";
    VehicleMake manufacturer = TempData["manufacturerDb"] as VehicleMake;

}

<h1>Delete Manufacturer</h1>

    <div class="container">
    <form asp-action="DeletePost" method="post" asp-controllesr="VehicleMake" >
    <input type ="hidden" asp-for="Id" value="@manufacturer.Id"/>
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <form action="/vehiclemake/createvehiclemake" method="post">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>