@model monozd.Models.VehicleMake
@{
    ViewData["Title"] = "UpdateVehicleManufacturer";
    VehicleMake maker = TempData["manufacturerDb"] as VehicleMake;
}

    <h1>Update Maker</h1>


    <div class ="contianer">
        <div asp-validation-summary="All"></div>

        <form action="/VehicleMake/UpdateManufacturerFinal" method="post">
            <input type="hidden" asp-for="Id" value="@maker.Id"/>        
        <div class="form-group">
            <label>Name</label>
            <input type="Name" placeholder="Enter manufacturer's name " asp-for="Name" value="@maker.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Abrv</label>
            <input type="Abrv" placeholder="Enter manufacturer's abrivation " asp-for="Abrv" value="@maker.Abrv">
            <span asp-validation-for="Abrv" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
        </div>