@model monozd.Models.VehicleModel
@{
    ViewData["Title"] = "CreateVehicleModel";

    List<VehicleModel> modelsData  = TempData["models"] as List<VehicleModel>;

}

    <div class ="contianer">
    <form from action="/vehiclemodel/CreateVehicleModel" method="post">
        <div class="form-group">
            <label>MakeId</label>
            <input type="MakeId" placeholder="Enter Manufacturer's ID " asp-for="MakeId">
            <span asp-validation-for="MakeId" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="Name" placeholder="Enter car's name " asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Abrv</label>
            <input type="Abrv" placeholder="Enter model's abrivation " asp-for="Abrv">
            <span asp-validation-for="Abrv" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    
    <div class="container">

        @if(modelsData != null && modelsData.Count >= 1)
        {

        <form from action="/VehicleModel/SearchModel" method="post">
            <div class="form-group">
                <label>Search</label>
                <input type="text" name="searchTerm"/>
            </div> 
            <button type="submit" class="btn btn-primary">Search</button>
        </form>      
            <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">MakeId</th>
      <th scope="col">Name</th>
      <th scope="col">Abrv</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var models in modelsData)
      {
        <tr>
      <td>@models.Id</td>
      <td>@models.MakeId</td>
      <td>@models.Name</td>
      <td>@models.Abrv</td>
       <td>
          <form asp-action="UpdateModel" asp-controller="VehicleModel" method="post">
              <input type="hidden" asp-for="Id" value="@models.Id" />
              <button type="submit"  class="btn btn-success">Update</button>
          </form>
          <form asp-action="DeletePost" asp-controller="VehicleModel" method="post">
              <input type="hidden" asp-for="Id" value="@models.Id" />
              <button type="Delete" class="btn btn-danger">Delete</button>
          </form>
      </td>     
    </tr>
      }
    
  </tbody>
</table>
        }
    </div>
    