@model monozd.Models.VehicleModel
@{
    ViewData["Title"] = "DeleteModel";
    VehicleModel models = TempData["models"] as VehicleModel;

}

<h1>Delete Manufacturer</h1>

    <div class="container">
    <form asp-action="DeletePost" method="post" asp-controllesr="VehicleModel" >
    <input type ="hidden" asp-for="Id" value="@models.Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <form action="/vehiclemake/createvehiclemake" method="post">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    </div>