@model monozd.Models.VehicleModel
@{
    ViewData["Title"] = "UpdateVehicleModel";
    VehicleModel modelValue = TempData["modelDb"] as VehicleModel;
}

    <div class ="contianer">
        <div asp-validation-summary="All"></div>

        <form action="/vehiclemodel/UpdateModelFinal" method="post">
            <input type="hidden" asp-for="Id" value="@modelValue.Id"/>

        <div class="form-group">
                <label>MakeId</label>
            <input type="MakeId" placeholder="Enter Manufacturer's ID " asp-for="MakeId" value="@modelValue.MakeId"> 
            <span asp-validation-for="MakeId" class="text-danger"></span>

        </div>
        
        <div class="form-group">
            <label>Name</label>
            <input type="Name" placeholder="Enter car's name " asp-for="Name" value="@modelValue.Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Abrv</label>
            <input type="Abrv" placeholder="Enter model's abrivation " asp-for="Abrv" value="@modelValue.Abrv">
            <span asp-validation-for="Abrv" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>